<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <form th:action="@{/greet}" method="post">
            <input type="text" th:name="name" placeholder="your name"/>
            <input type="submit">
        </form>
        <h2 th:if="${name !=null}" th:text="${'Hello ' + name}"></h2>

        <form th:if="${name != null}" th:action="@{/adventurer/countPower}">
            <input type="text" th:name="birthYear" placeholder="birth year"/>
            <input type="submit">
        </form>

    </body>
</html>